#createNewList {
  display: flex;
  flex-direction: column;
  background-color: #0067A3;
  font-size: 16pt;
  padding: 0.5rem;
  margin-right: 5rem;
}

#createNewListActionButtons {
  display: flex;
}

#createNewList button {
  padding: 0.3rem;
}